<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>2C00C2FF-BA4D-418A-BB91-EFE663DC9578</string>
	<key>version</key>
	<integer>2</integer>
	<key>author</key>
	<string>IdeasOnCanvas GmbH</string>
	<key>title</key>
	<string>Idea Sandbox</string>
</dict>
</plist>
