<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>188D-4S3GSFHF42A73-873SDFE-6ASD5E-B1AF3S404-CA996570D</string>
	<key>version</key>
	<integer>2</integer>
	<key>author</key>
	<string>IdeasOnCanvas GmbH</string>
	<key>title</key>
	<string>Sprout</string>
</dict>
</plist>
