<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>IdeasOnCanvas</string>
	<key>id</key>
	<string>42D73653-E00A-4E92-AD8D-19C2660D0C2C</string>
	<key>title</key>
	<string>Black Board</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
