<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>AD98BB6A-258C-4C02-950D-8FB2B06B5EF6</string>
	<key>version</key>
	<integer>1</integer>
	<key>author</key>
	<string>IdeasOnCanvas GmbH</string>
	<key>title</key>
	<string>Classic</string>
	</dict>
</plist>
